body{
    background-color: #373737;
}
#sevafarm{
	font-family:cursive;
	color:white;
	background:#22b14c;
	text-align: center;
}
a{
    text-decoration: none;
    color: black;
    margin-left: auto;
}