body{
    background-color: #373737;
    font-size: large;
}
#sevafarm{
	font-family:cursive;
	color:white;
	background:#22b14c;
	text-align: center;

}
.front{
    display: inline-block;
}
.pic2 img{
    margin: auto;
    padding-left:150px;
    padding-top:0;
}


.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

}
table tr{
    display: inline-block;
}
td{

    padding:0 30px;
}
a{
    text-decoration: none;
    color: black;
    margin-left: auto;
}
a img:hover{
    transform: translateY(-5px);
}

h3{
    padding:0 50px;
    background: #ff523b;
    border-radius: 30px;
    transition: background 0.5s;
    text-align: center;
}
h3:hover{
    background: #563431;
}
h2
{
  color: white;
}
.seasonal{
    text-align: center;
    padding: 0 500px;
}
.seasonal a h1{
    border-radius: 30px;
    font-family:cursive;
    color: ghostwhite;
    background:#22b14c;
    padding: 10px 0;
}
.seasonal a h1:hover{
    transform: translateY(-5px);
}
.login{
    border: none;
    background-color: #22b14c;
  color:white ;
  padding: 24px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  bottom: 30%;
  left: 39%;
  position: relative;
  justify-content: center;
}
h2{
  color: white;
}
b h2{
    display: inline-block;
    margin-bottom: 20px;
}
